/*search box*/
#search {
 
  margin-left: 75%;
  margin-top: -48px;
  width: 189px;
  height: 34px;
  border:#ed1f24 solid 4px ;
  border-radius: 20px;
  background-color: #09044c;
  padding-left: 60px;
  padding-right: 50px;
}

/*icone search*/
.d-flex i {

  margin-left: 75%;
  margin-top: -48px;
  position: absolute;
  padding: 9px 8px 8px;
  color: white;
}

#icones{
margin-right:5px;
}

li{
  margin-top: 7px;
}

ul{
  background-color: #09044c;
  width: 100%;
  height: 61px;
}


body {
  overflow-x: hidden;
  font-family: Sans-Serif;
  margin: 0;
}

/* mobile styles */

@media only screen and (max-width: 1516px) {
 
 }

@media only screen and (max-width: 1898px) {
 .d-flex{
  margin-right: 2%;
  }
  .d-flex i {
    margin-left: 73%;
    padding: 9px 20px 10px;
  }
}

@media only screen and (max-width: 1782px) {
  .d-flex{
   margin-right: 8%;
   }
   .d-flex i {
     margin-left: 70%;
     padding: 9px 15px 10px;
   }
 }

@media only screen and (max-width: 767px) { 
  
  ul li{
    background-color: #09044c;
  }

  .menu-container {
    flex-direction:column;
    align-items:flex-start;
  }
  

}

